html {
  cursor: url(../images/pngwing.ico), auto;
  background-color: #000000;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
}

nav{
  position: relative;
  &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: #62DB54;
      width: 50%;
      height: 2px;
    }
  &::after{
    content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #09ACF5;
      width: 50%;
      height: 2px;
  }
}