body{
  font-family: 'Azeret Mono', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", monospace, Arial, sans-serif;
} /* 優先序：英文字體或字型數量低 -> 中文字體或字型數量高 -> 預設字體 */

h1{
  font-size: 48px;
  font-weight: bold;
  line-height: 1.45;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.46;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.45;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

mark {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.17;
}

strong {
  font-size: 32px;
  line-height: 1.16;
}

small{
  font-size: 16px;
  line-height: 1.19;
  color: #909090;
}