// size
.logo-size{
  display: none;
  width: 175px;
  height: 42px;
  @include screen-lg{
    display: inline;
  }
}
.logo-sm-size{
  width: 24px;
  height: 24px;
  @include screen-lg{
    display: none;
  }
}

.icon-book-size{
  font-size: 80px;
}

.header-a{
  font-size: 18px;
  line-height: 1.44;
}

.icon-size-50{
  font-size: 50px;
}

.card-text-size-18{
  font-size: 18px;
  line-height: 1.44;
}
.card-text-size-lg-18{
  font-size: 16px;
  line-height: 1.5;
  @include screen-lg{
    font-size: 18px;
    line-height: 1.44;
  }
}
.card-text-size-sm-14{
  font-size: 14px;
  line-height: 1.44;
  @include screen-lg{
    font-size: 18px;
  }
}

.w-14p66 {
  width: 53.66%;
  @include screen-md{
    width: 27.66%;
  }
  @include screen-lg{
    width: 14.66%;
  }
}
.w-70{
  @include screen-lg{
    width: 70%;
  }
}
.w-sm-100-lg-25{
  width: 100%;
  @include screen-lg{
    width: 25%;
  }
}

.profile-size{
  width: 100px;
  height: 100px;
}

.btn-height-42{
  height: 42px;
}

// border
.border-w-1{
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  &:hover{
    border: 1px solid #62DB54;
    transition: all .5s ease-in-out;
  }
}
.number-border{
  border: 1px solid #fff;
  border-radius: 12px;
}
.border-transparent{
  border: 1px solid transparent;
}

.border-gray{
  border-top: 1px solid #C1C1C1 !important;
}

.border-bottom-green{
  position: relative;
  &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      display: inline-block;
      background-color: #62DB54;
      width: 50px;
      height: 3px;
      @include screen-sm{
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @include screen-lg{
        left: 0;
        transform: none;
      }
    }
}
.border-bottom-green-center{
  position: relative;
  &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 50%;
      display: inline-block;
      background-color: #62DB54;
      width: 50px;
      height: 3px;
      transform: translate(-50%, 0);
    }
}
.border-bottom-white {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    display: inline-block;
    background-color: #62DB54;
    width: 50px;
    height: 3px;
    transform: translate(-50%, -50%);
  }
  @include screen-lg{
    &::after{
      left: 0;
      transform: none;
      background-color: #fff;
    }
  }
}

// border-radius
.border-radius-8{
  border-radius: 8px;
}
.border-radius-10{
  border-radius: 10px;
}
.border-radius-24{
  border-radius: 24px;
}
.border-radius50{
  border-radius: 50%;
}

// bg-color
.bg-black{
  background-color: #000;
}
.bg-2D2D2D {
  background-color: #2D2D2D;
}

// font-family
.notosans-bold{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}
.notosans-regular{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
}

// position
.number-position{
  position: absolute;
  top: -28px;
  left: 48px;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  color: #62DB54;
  background-color: #1C1C1C;
}

//z-index
.z-index-2{
  z-index: 2;
}

// padding
.padding-t-37{
  padding-top: 37px;
}
.padding-x-23{
  padding-right: 23px;
  padding-left: 23px;
}
.padding-y-216{
  padding-top: 216px;
  padding-bottom: 216px;
}

// RWD width
.w-lg-70{
  @media (min-width: 992px) {
    width: 70%;
  }
  @media (min-width: 1200px) {
    width: 58%;
  }
}
.w-lg-100{
  @include screen-lg{
    width: 100%;
  }
}

// 文字漸層
.text-color-gradient {
  background: rgb(98, 219, 84);
  background: linear-gradient(0deg, rgba(98, 219, 84, 1) 0%, rgba(9, 172, 245, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.btn-gradient{
  background: rgb(98, 219, 84);
  background: linear-gradient(270deg, rgba(98, 219, 84, 1) 0%, rgba(9, 172, 245, 1) 100%);
}

// 元素置中
.el-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// h1 邊界四方塊
.top-left {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
}
.top-right {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
}
.bottom-left {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: -5px;
}
.bottom-right {
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  bottom: -5px;
  right: -5px;
}

// background-image
.bg-image-banner{
  max-width: 100%;
  height: 336px;
  background-image: url('../images/bg_home.jpg');
  background-size: cover;
  background-position: center center;
  @include screen-lg{
    height: 680px;
  }
}
.bg-image-project{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background-image: url('../images/info01.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
  }
  @include screen-lg{
    &:hover::after{
      opacity: 1;
    }
    &::after{
      height: 615px;
    }
  }
}
.bg-image-motivate{
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background-image: url('../images/info02.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
  }
  @include screen-lg {
    &:hover::after {
      opacity: 1;
    }
    &::after {
      height: 615px;
    }
  }
}
.bg-image-efficiency{
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background-image: url('../images/info03.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
  }
  @include screen-lg{
    &:hover::after {
      opacity: 1;
    }
    &::after{
      height: 615px;
    }
  }
}
.bg-image-advising{
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background-image: url('../images/info04.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
  }
  @include screen-lg{
    &:hover::after {
      opacity: 1;
    }
    &::after{
      height: 615px;
    }
  }
}

.opacity-50{
  opacity: .5;
}

// variant
.hover-pointer-opacity{
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
}

.hover-text-black{
  color: #fff;
  &:hover{
    color: #000;
  }
}

//*手把手帶你
// 因為 large 和 small 的區塊作用範圍不同，所以只在 small 時有此 border hover 效果，large 要消失
.hover-color-sm-gradient{
  opacity: 1;
  color: #fff;
  background-color: #202020;
  border: 1px solid transparent;
  border-radius: 12px;
  .color-gradient {
    background: rgb(98, 219, 84);
    background: linear-gradient(0deg, rgba(98, 219, 84, 1) 0%, rgba(9, 172, 245, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    @include screen-lg{// 額外寫的 media 為了做出，手機無 hover 且 PC 版效果不被影響
      color: #fff;
    }
  }
  @include screen-lg{// 額外寫的 media 為了做出，手機無 hover 且 PC 版效果不被影響
    opacity: .5;
    background-color: #2D2D2D;
    &:hover{
      opacity: 1;
    }
  }
}

// 只在 large 時才套用
.hover-color-lg-gradient {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 12px;

  @include screen-lg {
    &:hover {
      .color-gradient{
        color: transparent;
      }
      border: 1px solid #62DB54;
      background: #000;
      transition: border .5s ease-in-out;
    }
  }
}
//*手把手帶你

//* 四大滿版區塊
.height-615{
  height: 1080px;
  @include screen-lg{
    height: 615px;
  }
}
.opacity-lg-50{
  @include screen-lg{
    opacity: .5;
  }
}
.text-sm-green{
  color: #62DB54;
  @include screen-lg{
    color: #fff;
  }
}
.hover-opacity-bottom-green{
  @include screen-lg{
    &:hover{
      .hover-opacity-100 {
          opacity: 1;
        }//文字和 icon
      .hover-border-bottom-green {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -16px;
          left: 50%;
          display: inline-block;
          background-color: #62DB54;
          width: 50px;
          height: 3px;
          transform: translate(-50%, -50%);
        }
        @include screen-lg{
          &::after{
            left: 0;
            transform: none;
          }
        }
      }
      .hover-color-green{
        color: #62DB54;
      }//icon
    }
  }
}//* 四大滿版區塊

// 四角落圓角 border
.hover-border-radius{
  @include screen-lg{
    &:hover{
      .top-left-radius {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        border-top: 2px solid #62DB54;
        border-left: 2px solid #62DB54;
        border-radius: 10px 0 0 0;
        transition: border .1s;
      }
      .top-right-radius {
        position: absolute;
        top: 0;
        right: 0;
        border-top: 2px solid #62DB54;
        border-right: 2px solid #62DB54;
        border-radius: 0 10px 0 0;
        width: 32px;
        height: 32px;
        transition: border .1s;
      }
      
      .bottom-left-radius {
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #62DB54;
        border-left: 2px solid #62DB54;
        border-radius: 0 0 0 10px;
        width: 32px;
        height: 32px;
        transition: border .1s;
      }
      
      .bottom-right-radius {
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #62DB54;
        border-right: 2px solid #62DB54;
        border-radius: 0 0 10px 0;
        width: 32px;
        height: 32px;
        transition: border .1s;
      }
    }
  }
}

//a 標籤擴展
.stretched-link{
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}