.progress-success {
  position: relative;
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.progress-success::before {
  position: absolute;
  content: "";
  background-color: #62DB54;
  width: 50%;
  height: 2px;
}

.progress-success::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: #62DB54;
  width: 50%;
  height: 2px;
}

.success-number-one {
  position: relative;
  z-index: 2;
  background-color: #62DB54;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transform: translate(-10px, -10px);
}

.success-number-one::before {
  // content: attr(data-num);
  // color: #fff;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // font-size: 12px;
  // transform: translate(-50%, -50%); 數字 1
  content: "";
  color: #fff;
  width: 5px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 15%;
  left: 35%;
  transform-origin: 100%, 0%;
  transform: rotate(45deg);
}

.success-number-one::after {
  margin-top: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  color: #62DB54;
  content: attr(data-content);
  width: 64px;
  transform: translate(-50%, 0);
}

.success-number-two {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background-color: #62DB54;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  transform: translate(0, -10px);
}

.success-number-two::before {
  // content: attr(data-num);
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // font-size: 12px;
  // transform: translate(-50%, -50%); 數字 2
  content: "";
  color: #fff;
  width: 5px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 15%;
  left: 35%;
  transform-origin: 100%, 0%;
  transform: rotate(45deg);
}

.success-number-two::after {
  margin-top: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  content: attr(data-content);
  width: 80px;
  transform: translate(-50%, 0);
  color: #62DB54;
}

.success-number-three {
  position: relative;
  z-index: 2;
  background-color: #62DB54;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  transform: translate(10px, -10px);
}

.success-number-three::before {
  // content: attr(data-num);
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // font-size: 12px;
  // transform: translate(-50%, -50%); 數字 3
  content: "";
  color: #fff;
  width: 5px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 15%;
  left: 35%;
  transform-origin: 100%, 0%;
  transform: rotate(45deg);
}

.success-number-three::after {
  margin-top: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  content: attr(data-content);
  display: block;
  width: 64px;
  color: #62DB54;
  transform: translate(-50%, 0);
}

.verified-title{
  font-size: 44px;
}