button {
  font-size: 18px;
  line-height: 1.17;
}

.border-radius-4{
  border-radius: 4px;
}

.login-button__cancel--position{
  position: absolute;
  top: 16px;
  right: 24px;
  @include screen-lg{
    top: 30px;
  }
}

// .registration-payment-button{
//   width: 140px;
//   @include screen-lg{
//     width: 144px;
//   }
// }
.registration-payment-button-w-50{
  width: 48%;
  @include screen-lg{
    width: auto;
  }
}

.name-phone-w-lg-48{
  width: 100%;
  @include screen-lg{
    width: 48%;
  }
}