input[type="email"]{
  &::placeholder{
    color: #C1C1C1;
  }
  &::-moz-placeholder{
    color: #C1C1C1;
  }
  &::-webkit-input-placeholder{
    color: #C1C1C1;
  }
  &:focus{
    border-color: #fff;
  }
}
input[type="password"]{
  &::placeholder{
    color: #C1C1C1;
  }
  &::-moz-placeholder{
    color: #C1C1C1;
  }
  &::-webkit-input-placeholder{
    color: #C1C1C1;
  }
  &:focus{
    border-color: #fff;
  }
}

input[type="text"] {
  &::placeholder {
    color: #C1C1C1;
  }

  &::-moz-placeholder {
    color: #C1C1C1;
  }

  &::-webkit-input-placeholder {
    color: #C1C1C1;
  }

  &:focus {
    border-color: #fff;
  }
}

input[type="tel"] {
  &::placeholder {
    color: #C1C1C1;
  }

  &::-moz-placeholder {
    color: #C1C1C1;
  }

  &::-webkit-input-placeholder {
    color: #C1C1C1;
  }

  &:focus {
    border-color: #fff;
  }
}
input[type="email"] {
  &::placeholder {
    color: #C1C1C1;
  }

  &::-moz-placeholder {
    color: #C1C1C1;
  }

  &::-webkit-input-placeholder {
    color: #C1C1C1;
  }

  &:focus {
    border-color: #fff;
  }
}

.select-style{
  font-family: 'Noto Sans TC', sans-serif;
  color: #C1C1C1;
  background-color: #1C1C1C;
}